*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 80%;
    max-width: 900px;
    margin: auto;
    height: 100%;
}
article{
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.pics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
img{
    width: 100%;
    border-radius: 8px;
}
nav{
    margin-top: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-inline: 15px;
}
.log{
    margin-top: 10px;
}
nav ul li span{
    font-size: 20pt;
}

.login{
    border: 1px solid black;
    padding-inline: 30px;
    padding-block: 5px;
    background-color: white;
    color: black;
    border-radius: 16px;
}
.register{
    border: 1px solid black;
    padding-inline: 30px;
    padding-block: 5px;
    background-color: black;
    color: white;
    border-radius: 16px;
}
h1{
    text-align: center;
    margin-top:16px;    
}
h2{
    margin-top: 50px;
}
.italic{
    text-align: center;
    margin-bottom: 32px;
    font-style: italic;
}

a{
    text-decoration: none;
}
article .pics p span{
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black ;
}

nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width:700px) {

    
    .pics{
        grid-template-columns: auto;
    }
}
@media screen and (max-width:1100px){
    nav ul li{
        display:block;
        padding-block: 10px;
    }
}